In [2]:
'''Importar las librerías que vamos a usar'''
import pandas as pd
import plotly.express as px

'''Asignar los datos a un DF'''
car_data=pd.read_csv('C:\\Users\\Rodrigo\\Documents\\Tripleten\\Proyecto7\\vehicles_us.csv')

'''Revisar los datos'''
car_data.info()
print('\nHay',car_data.duplicated().sum(),'datos duplicados')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

Hay 0 datos duplicados

In [3]:
'''Revisar los datos vacios'''
for category in car_data.columns:
    if car_data[category].isna().sum() != 0:
        print(f'La categoría {category} tiene',car_data[category].isna().sum(),'datos vacios')

La categoría model_year tiene 3619 datos vacios
La categoría cylinders tiene 5260 datos vacios
La categoría odometer tiene 7892 datos vacios
La categoría paint_color tiene 9267 datos vacios
La categoría is_4wd tiene 25953 datos vacios

In [4]:
'''"is_4wd" se refiere si el auto tiene tracción en las 4 ruedas, comprobar que solo hay datos vacios y 1s, 
de ser así cambiar los datos vacios por 0'''

traccion=car_data.groupby(['is_4wd'])['model'].count()
car_data['is_4wd']=car_data['is_4wd'].fillna(0)

'''El color de la pintura se va a rellenar con "Unknown" no hay otra forma de llenarlo'''

car_data['paint_color']=car_data['paint_color'].fillna('Unknown')

'''El número de cilindros, kilometraje y año se van a rellenar con el promedio de su categoría'''

car_data['cylinders']=car_data['cylinders'].fillna(int(car_data['cylinders'].mean()))
car_data['model_year']=car_data['model_year'].fillna(int(car_data['model_year'].mean()))
car_data['odometer']=car_data['odometer'].fillna(int(car_data['odometer'].mean()))

'''El tipo de datos de las categorías model_year, cylinders, odometer y is_4wd serán cambiados a int'''

type_change=['model_year','cylinders','odometer','is_4wd']
for category in type_change:
    car_data[category]=car_data[category].astype('int')

'''Cambiar el tipo de dato de date_posted'''

import datetime as dt
car_data['date_posted'] = pd.to_datetime(car_data['date_posted'], format='%Y-%m-%d')

'''Confirmar que los cambios se hayan realizado'''

car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  int64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  int64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  int64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 5.1+ MB

In [5]:
car_data['brand'] = car_data['model'].str.split(' ', n=1, expand=True)[0]


print(car_data.sample(10))

       price  model_year                     model  condition  cylinders fuel  \
20914      1        2016          chevrolet camaro  excellent         10  gas
23424   2500        2000       jeep grand cherokee       good          8  gas
24857  15995        2014           chevrolet tahoe       good          8  gas
35296  10995        2017             nissan sentra   like new          4  gas
7980    5300        2005       jeep grand cherokee       good          8  gas
31711  20990        2015  chevrolet silverado 1500       good          8  gas
3739   11999        2017             nissan maxima   like new          6  gas
15917  19649        2017                  ram 2500  excellent          8  gas
1128    6990        2008           gmc sierra 1500  excellent          6  gas
50522   9495        2007                ford f-150  excellent          8  gas

       odometer transmission    type paint_color  is_4wd date_posted  \
20914     48223        other   coupe      silver       1  2019-02-21
23424    159000    automatic   truck      silver       1  2019-01-09
24857    152000    automatic     SUV       white       1  2018-12-27
35296     83000        other   sedan         red       0  2019-02-08
7980     156000    automatic     SUV       white       1  2019-01-10
31711    115553    automatic   truck       black       0  2019-02-13
3739      55919    automatic   truck       white       0  2019-04-05
15917    115588    automatic   truck     Unknown       1  2018-05-21
1128     121419    automatic  pickup       white       0  2019-03-21
50522    149224    automatic  pickup     Unknown       1  2019-01-28

       days_listed      brand
20914           48  chevrolet
23424           63       jeep
24857           18  chevrolet
35296           47     nissan
7980           113       jeep
31711           17  chevrolet
3739            16     nissan
15917           59        ram
1128            46        gmc
50522           52       ford